#now-dialog{
	margin-top: -20px;color: #666
}
.el-dialog--small{width:66%;}

#now-dialog .dialog_header{font-size:18px;color:#58B7FF;line-height: 41px;border-bottom:1px solid #d1dbe5}
.dialog_header .dialog_use{float: right;font-size: 14px;margin-right: 20px;}
#now-dialog .new-select{border:none;width:72px;font-size:12px;}
/* 聊天界面 */
.dialog_chat{overflow-y:scroll;height:250px;padding:10px;}
.window-chat-time{text-align: center;}
.window-chat-txt{
    position:relative;display:flex;margin-top:1rem;color:#fff;
}
.window-chat-txt img{display:block;width:50px;height:50px;border-radius: 50%;}
.window-chat-txt div{display: flex;flex:1;justify-content: center;align-items: center;border-radius: 1rem;position: relative;background:#58B7FF;padding:5px;}
.window-chat-txt .window-chat-txt-right{margin-right: 20px;}
.window-chat-txt .window-chat-txt-left{margin-left: 20px;}
.window-chat-txt-right:after{
    content:'';position: absolute;top:18px;right:-15px;
    border-width: 8px;border-style:dashed dashed dashed solid;border-color: transparent transparent transparent #58B7FF;
}
.window-chat-txt-left:before{
    content:'';position: absolute;top:18px;left:-15px;
    border-width: 8px;border-style:dashed solid dashed dashed;border-color: transparent #58B7FF transparent transparent;
}

.window_right_msg{padding-top: 10px;padding-left:40px;position:relative;line-height:2;height:160px;}
.window_right_icon{position: absolute;width:15px;height:15px;background-color:red;top:16px;left:20px;}
.dialog_foot{border-top: 1px solid #bfcbd9}
/**/
.window_right_msg1{padding: 10px;
    position: relative;text-align: center;
    line-height: 2;}
.window_right_price{height: 48px;display: flex;justify-content: space-around;align-items: center}
#progess{height: 340px; overflow-y:scroll;}
.box-card{border: none}