#now-dialog{
    color: #666
}
.el-dialog--small{width:66%;}

#now-dialog .dialog_header{font-size:18px;color:#58B7FF;line-height: 41px;border-bottom:1px solid #d1dbe5;padding-left: 10px}
.dialog_header .dialog_use{float: right;font-size: 14px;margin-right: 20px;}
#now-dialog .new-select{border:none;width:72px;font-size:12px;}
/* 聊天界面 */
#dialog_chat{overflow-y:scroll;height:332px;}
.window-chat-time{text-align: center;padding: 10px 0;
    border-bottom: 1px solid #d1dbe5;}
 

.window_right_msg{padding-top: 10px;padding-left:40px;position:relative;line-height:2;height:160px;}
.window_right_icon{position: absolute;width:14px;height:19px;background-color:red;top:16px;left:20px;}
.dialog_foot{border-top: 1px solid #bfcbd9;position: relative;}
/**/
.window_right_msg1{padding: 10px;
    position: relative;text-align: center;
    line-height: 2;}
.window_right_price{height: 48px;display: flex;justify-content: space-around;align-items: center}